*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.atpakal{
    background-color: rgb(255, 217, 0);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    /* margin-left:  */
    border-radius: 16px;
    cursor: pointer;
    /*position: -webkit-sticky;*/
    position: sticky;

    right: 100px;
    top: 10px;
    z-index: 100;
}
.atpakaltext{
    color: white;
    background-color: rgb(255, 217, 0);
}


body{
    background-image: url('baltsbackground.jpg');
    background-size: 100% 100%;
}


.image {
    flex-basis: 30%
  }
.wrapper{
    margin: 80px auto;
    width: 80%;
}
img{
    max-width: 80%;
    max-width: 400px;
    float: left;
    border-radius: 10px;
    margin-right: 15px;
    margin-bottom: 15px;
}
.papildinfo h3 {
    border-bottom: 2px black solid;
    font-size: 25px;
    padding-top: 20px;
    margin-left: 10px;
}

.papildinfo p {
    text-align: justify;
    padding: 10px;
    font-size: 20px;
}
.text-box h2{
    text-align: center; 
    font-size: 60;
    color: rgb(255, 217, 0);
}
.text {
    font-size: 12px;
    padding-left: 30px;
    padding-right: 15px;
  }

.content{
    text-align: center;
}
.content h1{
    font-size: 90px;
    color: #0000;
    font-weight: 600;
}
.content h2{
    font-size: 40px;
    color: #0000;
    font-weight: 300;
}
.content a{
    text-decoration: none;
    display: inline-block;
    color: #0000;
    font-size: 30px;
    border: 2px solid #fff;
    padding: 14px;
    border-radius: 45px;
    margin-top: 20px;
}

.cena{
    font-weight: bold;
    position: right;
    font-size: 45px;
    margin-left:50%;
    /*display: inline;*/
}
.cenacipari{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
    color: yellow;
    position: right;
    margin-left:75%;
    font-size: 70px;
    /*display: inline;*/
}

header{
    width: 100%;
    height: 180px;
    background: #edecec;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}
.hamburger{
    display: none;
}
.nav-bar ul{
    display: flex;
}
.nav-bar ul li a{
    display: block;
    color: #848484;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
}
.nav-bar ul li a:hover{
    color: #11101b;
    background: #ffffff;
}
.nav-bar ul li a.active{
    color: #11101b;
    background: #fffefe;
}
@media only screen and (max-width: 1320px){
    header{
        padding: 0 50px;
    }
}
@media only screen and (max-width: 1100px){
    header{
        padding: 0 30px;
    }
}
@media only screen and (max-width: 900px){
    .hamburger{
        display: block;
        cursor: pointer;
    }
    .hamburger .line{
        width: 30px;
        height: 3px;
        background: #3f2121;
        margin: 6px 0;
    }
    .nav-bar{
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vh;
        background: #3b3a4c;
        transition: 0.5s;
        overflow: hidden;
    }
    .nav-bar.active{
        height: 440px;
    }
    .nav-bar ul{
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
    .nav-bar.active ul{
        opacity: 1;
    }
    .nav-bar ul li a{
        margin-bottom: 12px;
    }
}

@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}

@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}
.center {
    margin-left: auto;
    margin-right: auto;
    font-size: 19px;
  }



  .grid-wrapper {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}
  .grid-container {
    display: grid;
    position: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: #ffffff;
    border: 5px dashed yellow;
    grid-template-columns: [first] 24% [line2] 38% [line3] 38%;
    width: 85%;
    justify-content: center;
    overflow: hidden;
  }
  .nosaukusms{
      text-align: center;
      padding:20px;
      font-size: 38px;
      grid-column-start: 1;
      grid-column-end: 4;
  }
  .grid-item1 {
    text-align: center;
    padding:20px;
    font-size: 38px;
    grid-column-start: 2;
    grid-column-end: 4;
    outline: 2px solid yellow;
    background-color: rgba(255, 255, 255, 0.8);
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    outline: 2px solid yellow;
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }


  /*<!DOCTYPE html>
<html>
<head>
<style>
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #ffffff;
  border: 5px dashed #ffd700;
  grid-template-columns: [first] 45% [line2] 55%;
  width: 90%;
  gap: 2px;
  owerflow:hidden;
  
}
.nosaukusms{
	text-align: center;
    padding-right:4px;
    font-size: 38px;
    grid-colimn: 1/3;
}
.nosaukusms1{
	text-align: left;
    padding-left:4px;
    font-size: 38px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid #ffd700;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.grid-item: nth-child (even){
	background-color:skyblue;
}
</style>
</head>
<body>

<h1>Grid Elements</h1>

<p>A Grid Layout must have a parent element with the <em>display</em> property set to <em>grid</em> or <em>inline-grid</em>.</p>

<p>Direct child element(s) of the grid container automatically becomes grid items.</p>

<div class="grid-container">
  <div class="nosaukusms"><strong>Tehniskais Raksturojums</strong></div>
  <!--<div class="nosaukusms1"><strong>raksturojums</strong></div>-->
  <div class="grid-item">Platums</div>  
  <div class="grid-item">5000 mm</div>
  <div class="grid-item">Augstums</div>
  <div class="grid-item">18 m</div>  
  <div class="grid-item">Tilpums</div>
  <div class="grid-item">2000 L</div>
  <div class="grid-item">Masa (sausa)</div>
  <div class="grid-item">1410 kg</div>
  <div class="grid-item">Masa (pilna)</div>  
  <div class="grid-item">3410 kg</div>
  <div class="grid-item">Klīrenss</div>
  <div class="grid-item">550 mm</div>  
</div>

</body>
</html>*/